{% extends 'base.html' %}

{% block content %}


{% if blogs|length > 1 %}

    {% for blog in blogs %}
        <h2><a href="/blog?id={{ blog.id }}">{{ blog.title }}</a></h2>
        <p>{{ blog.body }}</p>
        <p>written by <a href="/blog?user={{ blog.owner_id }}">{{ blog.owner.username }}</a></p>
        <hr>
    {% endfor %}

{% else %}

    <h2><a href="/blog?id={{ blog.id }}">{{ blog.title }}</a></h2>
    <p>{{ blog.body }}</p>
    <p>written by <a href="/blog?user={{ blog.owner_id }}">{{ blog.owner.username }}</a></p>

{% endif %}


{% endblock %}