{% extends "base.html" %}

{% block content %}

    

    <!-- 
        displays ALL users on home page 
    -->
<div id="main-box">    
    {% for u in users %}
        <ul>
            <li><h3><a href="/?id={{ u.id }}">{{ u.username }}</a></h3></li>
        </ul>
    {% endfor %}
</div>

  {#
    {% for b in blog %}
    <h3><a href="/?id={{ blog_id }}">{{ b.title }}</a></h3>
    <p>{{ b.body }}</p>
    {% endfor %}
    {% for u in users %}
    <p>written by {{ u.username }}</p>
    <hr>
    {% endfor %}
#}

{% endblock %}
