{% extends 'base.html' %}

{% block content %}

<h2>Signup For New Blogz Account</h2>
<div>
    <form class="form" action="/signup" method="post">
        <table>
            <tr>
                <td><label>Username</label></td>
                <td>
                    <input type="text" name="username" value="{{ request.form['username'] }}"/>
                </td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td>
                    <input type="password" name="password" value=""/>
                </td>
            </tr>
            <tr>
                <td><label>Verify Password</label></td>
                <td>
                    <input type="password" name="verify" value=""/>
                </td>
            </tr>
        </table>
        <input type="submit" value="Submit"/>
    </form>
</div>



{% endblock %}