<!--
    This template used to display only the entries associated with a single given author.
    It will be used when we dynamically generate a page using a GET request with a user query
    parameter on the /blog route (similar to how we previously generated individual entry pages)
-->
{% extends 'base.html' %}

{% block content %}


<h3 id="main-title">{{ one_post.owner.username }}'s Posts</h3>

{% for b in blogs %}
    <h2><a href="/?id={{ b.id }}">{{ b.title }}</a></h2>
    <p>{{ b.body }}</p>
    {#<p>written by {{ b.owner.username }}</p>#}
    <hr>
{% endfor %}









{% endblock %}